header {text-align: center;}
nav>ul>li {display: inline; text-decoration: none; list-style-type: none; font-size: 18px;}
a {text-decoration: none;}
body {background-color: #2E4272; font-family: Helvetica;}
p {font-size: 16px;}
h1 {font-family: Arial; font-size: 32px;
body>ol>li {font-size: 18px;}
